In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\python\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\python\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\python\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [19, 22, 21, 18, 23],
    'Score': [85, 78, 92, 65, 88]
}
df = pd.DataFrame(data)

In [ ]:
df.head(3)

In [ ]:
df.describe()

In [ ]:
df['Score'].mean()

In [9]:
df[df['Age'] > 20]

      Name  Age  Score
1      Bob   22     78
2  Charlie   21     92
4      Eva   23     88

In [10]:
df[df['Score'] > 80]

      Name  Age  Score
0    Alice   19     85
2  Charlie   21     92
4      Eva   23     88